## 1.Degreed Users Group Creation App

In [1]:
import pandas as pd
from datetime import date

In [2]:
data = pd.read_excel (r'C:\Users\guibo\OneDrive\Área de Trabalho\Degreed\User_file template_TIC.xlsx', sheet_name='User List')
rules = pd.read_excel (r'C:\Users\guibo\OneDrive\Área de Trabalho\Degreed\BusinessRules Template_TIC.xlsx', sheet_name='Business Rules')

## 2.Visualising User Data

In [3]:
data

,UniqueID,FullName,FirstName,LastName,Email,ManagerUniqueID,Delete,Department,Hire Date,Office Location,Business Unit,People Manager
0,173657,Kim Blank,Kim,Blank,kim.blank@Acme.com,11034,N,Procurement,2004-12-01,"Beijing, China",Finance,Y
1,173658,Jeff Shilling,Jeff,Shilling,jeff.shilling@acme.com,11587,N,Lead Sourcing,2010-01-08,"London, UK",Sales,Y
2,173659,Nancy Barnes,Nancy,Barnes,nancy.barnes@acme.com,10426,N,Supply Chain,2019-06-01,"Tokyo, Japan",Production,N
3,173660,Hank Edwards,Hank,Edwards,hank.edwards@acme.com,10033,N,Talent Acquisition,2003-03-05,"Sao Paulo, Brazil",HR,N
4,173661,Amy Cuth,Amy,Cuth,amy.cuth@acme.com,14422,N,Digital,2018-05-05,"Mexico City, Mexico",Marketing,Y
5,173662,Jaylan Walter,Jaylan,Walter,jaylan.walter@acme.com,12256,N,FP &A,2019-06-01,"New York, NY",Finance,N
6,172663,Nora Harrell,Nora,Harrell,nora.harrell@acme.com,54956,N,Field,2016-02-01,"Toronto, Canada",Sales,Y
7,173664,Carlos McCann,Carlos,McCann,carlos.mccann@acme.com,98122,N,Learning & Development,2018-10-02,"Bangalore, India",HR,Y
8,173665,Kailee Johnson,Kailee,Johnson,kailee.johnson@acme.com,98118,N,Supply Chain,2003-12-01,"Los Angeles, CA",Production,N
9,173666,Mathias Villegas,Mathias,Villegas,mathias.villegas@acme.com,11053,N,Digital,2003-12-01,"Chicago, IL",Marketing,N
10,173667,Mylie Carey,Mylie,Carey,mylie.carey@acme.com,11674,N,Procurement,2018-07-01,"Buenos Aires, Argentina",Finance,N
11,173668,Diego Duffy,Diego,Duffy,diego.duffy@acme.com,11987,N,Field,2018-10-01,"Mexico City, Mexico",Sales,N
12,173669,Fatime Guerra,Fatima,Guerra,fatima.guerra@acme.com,11524,N,QA,2015-04-02,"Sao Paulo, Brazil",Production,Y
13,173770,Joseph Osborn,Joseph,Osborn,joseph.osborn@acme.com,11999,N,Talent Acquisition,2004-12-01,"New York, NY",HR,Y
14,173771,Nora Sanchez,Nora,Sanchez,nora.sanchez@acme.com,11888,N,Partnerships & Alliances,2010-01-08,"New York, NY",Marketing,Y
15,173772,Derek Eaton,Derek,Eaton,derek.eaton@acme.com,11678,N,Accounting,2019-06-01,"Beijing, China",Finance,N
16,173773,Karlie Hartman,Karlie,Hartman,karlie.hartman@acme.com,11900,N,Field,2003-03-05,"Beijing, China",Sales,Y
17,173774,Killian Bryan,Killian,Bryan,killian.bryan@acme.com,11244,N,QA,2018-05-05,"Tokyo, Japan",Production,N
18,173775,Guillermo Josph,Guillermo,Joseph,guillermo.joseph@acme.com,11322,N,Learning & Development,2019-06-01,"Toronto, Canada",HR,Y
19,173776,Hafiz Luna,Hafiz,Luna,hafiz.luna@acme.com,11544,N,Digital,2016-02-01,"London, UK",Marketing,Y
20,173777,Kate Huffman,Kate,Huffman,kate.huffman@acme.com,16577,N,Accounting,2018-10-02,"Buenos Aires, Argentina",Finance,Y
21,173778,Danielle West,Danielle,West,danielle.west@acme.com,18395,N,Field,2003-12-01,"Los Angeles, CA",Sales,N
22,173779,Alex Pace,Alex,Pace,alex.pace@acme.com,19835,N,Supply Chain,2003-12-01,"Los Angeles, CA",Production,N
23,173780,Jamie Carr,Jamie,Carr,jamie.carr@acme.com,12245,N,Talent Acquisition,2018-07-01,"Toronto, Canada",HR,Y
24,173781,Natalya Lucero,Natalya,Lucero,natalya.lucero@acme.com,14556,N,Digital,2018-10-01,"New York, NY",Marketing,Y

## 3.Visualising Rules

In [4]:
rules

,Last Updated,if,op 1,equals 1,and if 2,op 2,equals 2,Groups,Delete
0,2020-05-12,Business Unit,=,Finance,Business Unit,=,Finance,Finance,N
1,2020-05-13,Business Unit,=,Sales,Business Unit,=,Sales,Sales,N
2,2020-05-14,Business Unit,=,Production,Business Unit,=,Production,Production,N
3,2020-05-15,Business Unit,=,HR,Business Unit,=,HR,HR,N
4,2020-05-16,Business Unit,=,Marketing,Business Unit,=,Marketing,Marketing,N
5,2020-05-17,Business Unit,=,Finance,Hire Date,<=,2000-05-15 00:00:00,Marketing,N

## 4.Getting unique Business Units Groups

In [5]:
bu_unique = data["Business Unit"].unique()

In [6]:
bu_unique

array(['Finance', 'Sales', 'Production', 'HR', 'Marketing'], dtype=object)

## 5.Getting unique Region Groups

In [7]:
locations_unique = data["Office Location"].unique()

In [8]:
locations_unique = list(locations_unique)

In [9]:
region_unique = ["APAC","EMEA","APAC","LATAM","NAMER","NAMER","NAMER","APAC","NAMER","NAMER","LATAM"]

In [10]:
regions = dict(zip(locations_unique,region_unique))

In [11]:
regions

{'Beijing, China': 'APAC',
 'London, UK': 'EMEA',
 'Tokyo, Japan': 'APAC',
 'Sao Paulo, Brazil': 'LATAM',
 'Mexico City, Mexico': 'NAMER',
 'New York, NY': 'NAMER',
 'Toronto, Canada': 'NAMER',
 'Bangalore, India': 'APAC',
 'Los Angeles, CA': 'NAMER',
 'Chicago, IL': 'NAMER',
 'Buenos Aires, Argentina': 'LATAM'}

In [12]:
if len(locations_unique) != len(region_unique):
    print("Please, Update region_unique List, do not proceed before !!!!")

### 5.1Function to get Region

In [13]:
def get_region(location):
    for key,value in regions.items():
        if key == location:
            return value

In [14]:
regions_group = set(region_unique)

## 6.Construction of User Groups file format

### 6.1 Inserting Basic Data

In [15]:
users_file = list(data.head())

### 6.2 Inserting "All Hands" Group

In [16]:
users_file.append("All Hands")

In [17]:
users_file

['UniqueID',
 'FullName',
 'FirstName',
 'LastName',
 'Email',
 'ManagerUniqueID',
 'Delete',
 'Department',
 'Hire Date',
 'Office Location',
 'Business Unit',
 'People Manager',
 'All Hands']

### 6.3 Insert Business Units Groups

In [18]:
for bu in bu_unique:
    users_file.append(bu)
users_file

['UniqueID',
 'FullName',
 'FirstName',
 'LastName',
 'Email',
 'ManagerUniqueID',
 'Delete',
 'Department',
 'Hire Date',
 'Office Location',
 'Business Unit',
 'People Manager',
 'All Hands',
 'Finance',
 'Sales',
 'Production',
 'HR',
 'Marketing']

### 6.4 Insert Region Groups

In [19]:
for region in regions_group:
    users_file.append(region)
    
users_file

['UniqueID',
 'FullName',
 'FirstName',
 'LastName',
 'Email',
 'ManagerUniqueID',
 'Delete',
 'Department',
 'Hire Date',
 'Office Location',
 'Business Unit',
 'People Manager',
 'All Hands',
 'Finance',
 'Sales',
 'Production',
 'HR',
 'Marketing',
 'LATAM',
 'EMEA',
 'APAC',
 'NAMER']

### 7.Rules parser from Excel Business Rules Sheet

In [20]:
sample = data.iloc[0]
sample

UniqueID                        173657
FullName                     Kim Blank
FirstName                          Kim
LastName                         Blank
Email               kim.blank@Acme.com
ManagerUniqueID                  11034
Delete                               N
Department                 Procurement
Hire Date          2004-12-01 00:00:00
Office Location         Beijing, China
Business Unit                  Finance
People Manager                       Y
Name: 0, dtype: object

In [21]:
assertion1 = []
assertion2 = []

In [22]:
def assert_rules_1(data):
    for if_s, opt_1, equals_1 in zip(rules['if'],rules['op 1'],rules['equals 1']): ## Assertion coverting from Excel
        if opt_1 == "=":
            if data[if_s] == equals_1:
                assertion1.append(True)
            else:
                assertion1.append(False)
        elif opt_1 == ">":
            if data[if_s] > equals_1:
                assertion1.append(True)
            else:
                assertion1.append(False)
        elif opt_1 == "<":
            if data[if_s] < equals_1:
                assertion1.append(True)
            else:
                assertion1.append(False)
        elif opt_1 == "<=":
            if data[if_s] <= equals_1:
                assertion1.append(True)
            else:
                assertion1.append(False)
        elif opt_1 == ">=":
            if data[if_s] >= equals_1:
                assertion1.append(True)
            else:
                assertion1.append(False)
                
def assert_rules_2(data):
    for if_s, opt_2, equals_2 in zip(rules['and if 2'],rules['op 2'],rules['equals 2']): ## Assertion coverting from Excel
        if opt_2 == "=":
            if data[if_s] == equals_2:
                assertion2.append(True)
            else:
                assertion2.append(False)
        elif opt_2 == ">":
            if data[if_s] > equals_2:
                assertion2.append(True)
            else:
                assertion2.append(False)
        elif opt_2 == "<":
            if data[if_s] < equals_2:
                assertion2.append(True)
            else:
                assertion2.append(False)
        elif opt_2 == "<=":
            if data[if_s] <= equals_2:
                assertion2.append(True)
            else:
                assertion2.append(False)
        elif opt_2 == ">=":
            if data[if_s] >= equals_2:
                assertion2.append(True)
            else:
                assertion2.append(False)
        else:
            assertion2.append(True)

In [23]:
assert_rules_1(sample)
assert_rules_2(sample)

In [24]:
assertion1

[True, False, False, False, False, True]

In [25]:
assertion2

[True, False, False, False, False, False]

In [30]:
assertion1 and assertion2

[True, False, False, False, False, False]

In [ ]:
userf